
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
};

.header-top {
  display: flex;
  justify-content: space-between;
}

.logo {
display: flex;
  flex-direction: column;
  align-items: center;



  &__main {
    font-family: 'Rye';
    font-size: 50px;
    color: #D4D2B0D4;
  }


  &__little {
    font-family: 'Amita';
    font-size: 28px;
    color: #b1b0d4;
    margin-top: -30px;
  }

}

.phone {
  font-family: 'Cormorant SC';
  color: #D4D2B0D4;
  font-size: 27px;
  text-decoration: none;
}

.contact {
  text-decoration: none;
  font-family: 'Cormorant Infant';
  font-size: 27px;
  display: flex;
  height: fit-content;


  &__img {
    width: 40px;
    padding-right: 10px;
  }

  &__txt {
    color: white;
  }
}

.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;



  &__link{
    font-family: 'Cormorant SC';
    text-decoration: none;
    color: white;
    font-size: 28px;
  }
};

.bar {
  display: flex;
  flex-direction: column;
}

.burger-line {
  width: 40px;
  height: 3px;
  background-color: #D6D4B4;
  margin-bottom: 8px;
}



.cross {
  width: 40px;
  height: 40px;
}

.menu-mobile {
  position: fixed;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  z-index: 99998;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  padding-top: 10px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #3f3e5a;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__img {
    width: 150px;
  }
}



.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;


  &__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 8px;

  }

}

.mobile-tg {
  display: flex;
  max-height: fit-content;
  text-decoration: none;

  &__img {
    width: 30px;
    margin-right: 10px;
  }

  &__txt {
    color: white;
    font-size: 18px;
  }
}




