
.main {

  background-image: url("/img/main.webp");
  margin-right: -150px;
  margin-left: -150px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;


  &__content{
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya SC';
    align-items: center;
    justify-content: center;



  }

  &__img {
    width: 200px;
  }

  &__title {
    font-size: 65px;
  }


}

.line {
  background-color: white;
  height: 3px;

}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__img {
    width: 270px;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
  }
}

.help {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flip-container {
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
};


.flip-container, .card, .card-back {
  width: 800px;
  height: 450px;
  font-family: 'Alegreya SC';
  text-align: center;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
};

.card, .card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: -50px;
}


.card {
  z-index: 2;
  background-color: rgba(125, 121, 125, 0.3);
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 330px;
    padding-left: 20px;
  }

  &__title {
    color: #ed94e3;
    font-size: 35px;
    margin-bottom: 10px;

  }

  &__text {
    font-size: 20px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;

}

.card-back {
  transform: rotateY(180deg);
  background-color: rgba(125, 121, 125, 0.3);
  background-image: url("/img/line1.png");
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;




  &__text {
    font-size: 20px;
    margin-bottom: 12px;

  }
};

.result {
  background-color: #525064;
  background-image: url("/img/moon.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  margin-top: 50px;
  font-family: 'Alegreya SC';

  &__txt {
    font-size: 25px;
  }
}

.result-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.result-info-wrap {
  width: 40%;
}

.price-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.price-slider {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
}

.price-info {
  padding-top: 100px;
}


.price {
  background-image: url("/img/back1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 750px;



 &_black {
    background-image: url("/img/back2.png");
  }

  &__title {
    margin-bottom: 0;
    font-size: 35px;
  }

  &__info {
    margin-top: 0;
    font-size: 30px;
  }

  &__price {
    font-family: 'Cormorant SC';
    color: #fc96ff;
    font-size: 35px;
    margin-top: 100px;

    &_yellow{
      color: #d4d2b0;
    }
  }

  &__bonus {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    margin-top: 100px;
  }
}

.promo {
  background-color: #525064;
  font-family: 'Cormorant SC';
  padding-bottom: 20px;

}

  .promo-info {
    display: flex;
    flex-direction: column;
    align-items: center;

  &__txt {
    font-size: 25px;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;

    &_color {
      color: #D6D4B4;
    }
  }

  &__img {
    width: 500px;
  }
}

.promo-condition {


  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &_left {
      flex-direction: row-reverse;
    }
  }

  &__img {
    width: 400px;
  }

  &__txt {

    font-size: 25px;

    &_yellow {
      color: #D6D4B4;
    }

    &_pink {
      color: #fed4ed;
    }
  }
}

.txt-wrap {
  width: 60%;
}

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("/img/tarot.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;



}

.form {
  display: block;
  margin: 0 auto;
  align-items: center;
  background-color: rgba(82, 80, 100, 0.6);
  border-radius: 30px;
  width: 40%;
  border: 2px solid;
  border-color: #D6D4B4;
  padding-bottom: 40px;

  &_contacts {
    width: 70%;
  }

}

.form-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px ;
  font-family: 'Cormorant Garamond';
  font-weight: bold;

  &__txt {
    font-size: 25px;
    color: #fc96ff;
    margin-bottom: 10px;
  }

  &__data {
    font-size: 25px;
    margin-top: 8px;
    display: flex;
    align-content: flex-start;
  }

  &__input {
    border: none;
    border-radius: 30px;
    background-color: rgba(214, 212, 180, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Cormorant';
    font-size: 25px;
    font-weight: bold;
    color: #39384e;


  }

  &__message {
    border: none;
    border-radius: 30px;
    background-color: rgba(214, 212, 180, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    width: 90%;
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: none;
    font-family: 'Cormorant';
    font-size: 25px;
    font-weight: bold;
    color: #39384e;


    &_contacts {
      height: 120px;
    }

  }
}

.form-group {
  align-content: flex-start;
  width: 100%;

}

.reviews {
  background-color: #525064;
}

.review {
  font-family: 'Cormorant SC';
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 30px;
  margin-top: 30px;

  &_inverted {
    flex-direction: row-reverse;
  }

  &__photo {
    width: 320px;
  }

  &__name {
    color: #ed94e3;
    margin-top: 10px;
    font-size: 35px;

    &_mobile {
      display: none;
    }

    &_yellow {
      color: #f6ee5f;
    }
  }

  &__city {
    &_mobile {
      display: none;
    }
  }

  &__text {
    font-family: 'Cormorant Infant';
    margin-top: 20px;

  }
}

.review-wrap {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.reviews-nav {
 display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;

}

.answers {
  background-image: url("/img/line-phone.png");
  background-size: 100%;
  background-position: center;
  display: flex;
 flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

.question {

  font-family: 'Cormorant SC';
  font-size: 35px;
  color: #F6EE5F;
  background-color: rgba(214, 212, 180, 0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  display: flex;
 flex-direction: column;
  width:  100%;
  cursor: pointer;

  &__plus {
    width: 50px;
    justify-content: flex-end;
  }


  &__answer {
    font-family: 'Cormorant';
    font-size: 30px;
    color: white;

    &_pink {
      color: #ed94e3;
    }

    &_italic {
      font-style: italic;
      font-weight: bold;
    }
  }
}

.question-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contacts-wrap {
  margin-top: 20px;
  background-color: #525064;
}

.contacts {
  display: flex;
  justify-content: space-between;


}

.contacts-data {
  margin-top: 50px;
  width: 40%;

  &__img {
    width: 80%


  }

}

.contacts-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  text-decoration: none;

  &__tg {
    margin-bottom: 20px;
    font-size: 28px;

    a {
      text-decoration: none;
      color: #fc96ff;
    }


  }

}

.contacts-links-wrap {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.contacts-links {
  border: 1px solid;
  border-radius: 20px;
  border-color: #D6D4B4;
  margin-bottom: 20px;
  width: 48%;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;




  &__link {
align-content: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
  }

&__img {
    width: 70px;

  &_phone {
    width: 58px;
  }
  }

  &__txt {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    align-items: center;



  }
}

.contacts-links-networsk {
  display: flex;
  justify-content: space-between;
 align-content: center;

}

.bar {
  display: none;
}

.person__img_mobile {
  display: none;
}

.footer-mobile__img {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  backdrop-filter: blur(10px);
  margin-right: -150px;
  margin-left: -150px;
}


.modal-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #d6d4b4;
  border-radius: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 2%;
  padding-left: 2%;
}

.btn_modal {
  font-size: 20px;
  width: 35%;
  padding-top: 15px;
  padding-bottom: 15px;


}

.cross_modal {
  display: flex;
  margin-left: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.title_modal {
  font-size: 35px;
}

.form-info__txt_modal {
  font-size: 28px;
}

.form-info__data_modal {
  font-size: 28px;
  margin-top: 10px;
}

.form-info__input_modal {
  font-size: 28px;
}

.form-info__message_modal {
  font-size: 28px;
  height: 150px;
}

.form-info_modal {
padding-right: 75px;
  padding-left: 75px;
  padding-top: 20px;
}



