
@media (max-width: 1600px) {

  .modal-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-info__txt_modal {
    font-size: 20px;
  }

  .form-info__data_modal {
    font-size: 20px;
    margin-top: 7px;
  }

  .form-info__input_modal {
    font-size: 20px;
  }

  .form-info__message_modal {
    font-size: 20px;
    height: 120px;
  }

 .btn {
    font-size: 17px;
  }

  .btn__price {
    font-size: 16px;
  }

  .menu__link {
    font-size: 25px;
  }

  .main__img {
    width: 160px;
  }

  h1 {
    font-size: 60px;}

  h2 {
    font-size: 40px;
  }

  .title {
    font-size: 40px;}

  .person__img {
    width: 250px;
  }

  .person__text {
    font-size: 23px;
  }

  .card, .card-back, .flip-container {
    width: 700px;
    height: 380px;
  }

  .card {
    &__title {font-size: 32px;}
    &__text {font-size: 18px;}
    &__img {width: 310px}
  }

.result__txt {font-size: 23px}

.price {
  height: 600px;
  &-info {padding-top: 80px}
  &-slider {width: 38%}
  &__title {font-size: 30px}
  &__info {font-size: 27px}
  &__price {font-size: 33px}
  &__bonus {font-size: 22px}
}

.promo-info__txt {font-size: 23px}

.promo-info__img {width: 460px}

.promo-condition__txt {font-size: 23px}
.promo-condition__img {width: 360px}

.title_form {font-size: 35px}

.review {font-size: 27px}

.review__name {font-size: 32px}
.review__photo {width: 300px}

.question {
  &__txt {font-size: 28px}
  &__plus {width: 40px}
  &__answer {font-size: 23px}
}

.contacts-links__txt {font-size: 22px}
.contacts-links__img {width: 50px}
.contacts-links__img_phone {width: 38px}

.footer__copyright {font-size: 27px}

}

@media (max-width: 1536px) {

  .modal {
    margin-left: -120px;
    margin-right: -120px;
  }

  body {
    padding-left: 120px;
    padding-right: 120px;
  }

  .grey-back {
    margin-left: -120px;
    margin-right: -120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  header {
    padding-bottom: 10px;
  }

  .btn {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    &__price {
      width: 50%;
      margin-bottom: 20px;
      font-size: 13px;
    }
  }

  .menu {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .menu__link {
    font-size: 22px;
  }

  .main {
    margin-left: -120px;
    margin-right: -120px;
  }

  .card-back__text {
    font-size: 17px;
  }

  .phone {
    font-size: 22px;
  }

  .contact {
    font-size: 22px;
  }

  .contact__img {
    width: 33px;
  }

  .logo__main {
    font-size: 45px;
  }

  .logo__little {
    font-size: 25px;
    margin-top: -25px;
  }

  .main__img {
      width: 140px;
    }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  .title {
    font-size: 30px;
  }

  .person__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .person__img {
    width: 220px;
  }

  .result__txt {
    font-size: 20px;
  }

  h4 {
    font-size: 22px;
  }

  .nav {
    width: 20px;
  }

  .price {

    height: 380px;


    &-info {
      padding-top: 35px;
    }

    &-slider {
      width: 32%;
    }
    &__title {
      font-size: 20px;
    }

    &__info {
      font-size: 20px;
    }

    &__price {
      font-size: 23px;
      margin-top: 60px;
    }

    &__bonus {
      margin-top: 50px;
      font-size: 17px;
    }
  }

  .promo-info {

    &__txt {
      font-size: 20px;
    }

    &__img {
      width: 380px;
    }
  }

  .card, .card-back, .flip-container {
    width: 630px;
    height: 330px;
  }

  .card {

    &__img {
      width: 270px;
    }

    &__title {
      font-size: 28px;
  }

    &__text {
    font-size: 16px }
  }

  .promo-condition__txt {
    font-size: 20px;
  }

  .promo-condition__img {
    width: 340px;
    height: 340px;
  }

  .title_form {
    font-size: 25px;
  }

  .form-info {

    &__txt {
      font-size: 20px;
    }

    &__data {
      font-size: 20px;

    }

    &__input {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__message {
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .review {
    font-size: 25px;

    &__name {
      font-size: 28px;
    }

    &__img {
      width: 280px;
    }
  }

  .contacts-links__txt {
    font-size: 20px;
  }

}

@media (max-width: 1440px) {

  .price-slider {
    width: 27%;
  }

  .price {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contacts-links__img {
    width: 45px;
  }

  .contacts-links__img_phone {
    width: 32px;
  }
}

@media (max-width: 1368px) {


  .cross_modal {
    width: 40px;
    height: 40px;
  }

  .form-info__data {
    font-size: 18px;
  }

  .form-info__txt {
    font-size: 18px;
  }

  .form-info__message_modal {
    height: 100px;
    }

  .form-info__message {
    font-size: 18px;
  }

  .form-info__input {
    font-size: 18px;
  }

  .result__txt {
    font-size: 19px;
  }

  .result-info-wrap {
    width: 46%;
  }

  .form-group_modal {
    width: 100%;
  }


  .btn__price {
    width: 53%;
  }

  .contacts-links__txt {
    font-size: 17px;
  }
}

@media (max-width: 1366px) {

  .btn {
    font-size: 14px;
  }

  .btn__price {
    font-size: 12px;
  }

  .price {
    height: 360px;

    &__title {
      font-size: 19px;
    }

    &__info {
      font-size: 19px;
    }

    &__price {
      font-size: 20px;
    }

    &__bonus {
      font-size: 16px;
    }
  }

  .review {
    font-size: 20px;
  }

  .review__photo {
    width: 260px;
  }

  .question {

    margin-bottom: 15px;

    &__txt {
      font-size: 26px;
    }

    &__plus {
      width: 35px;
    }

    &__answer {
      font-size: 20px;
    }
  }

  .contacts-form__tg {
    font-size: 23px;
  }

  .contacts-links__txt {
    font-size: 17px;
  }
}

@media (max-width: 1280px) {

  .cross_modal {
    width: 35px;
    height: 35px;
  }

  .modal-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn_modal {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
  }

 .form-info__message_modal {
   font-size: 15px;
   height: 90px;
 }

  .form-info__input_modal {
    font-size: 15px;
  }

  .form-info_modal {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav {
    width: 15px;
  }

  .btn__price {
    font-size: 11px;
    width: 47%;
  }

  .price {
    height: 330px;

    &-slider {
      width: 28%;
    }

    &__title {
      font-size: 18px;
    }

    &__info {
      font-size: 18px;
    }

    &__price {
      font-size: 19px;
      margin-top: 50px;
    }

    &__bonus {
      font-size: 15px;
    }
  }

.form-info__data {
  font-size: 18px;

  &_modal {
    font-size: 15px;
  }
}

.form-info__input {
  font-size: 18px;

  &_modal {
    font-size: 15px;
  }
}

  .form-info__message {
    font-size: 18px;
  }

  .form-info__txt {
    font-size: 18px;

    &_modal {
      font-size: 15px;
    }

  }

  .title_form {
    font-size: 23px;

    &_modal {
      font-size: 20px;
    }
  }

  .review {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .review-wrap {
    width: 60%;
  }

  .question__txt {
    font-size: 23px;
  }

  .question__plus {
    width: 32px;
  }

  .contacts-form__tg {
    font-size: 20px;
  }

  .contacts-links__img {
    width: 35px;
  }

  .contacts-links__img_phone {
    width: 26px;
  }

  .contacts-links__txt {
    font-size: 15px;
  }

  .menu__link {
    font-size: 20px;
  }

 .menu_footer {
   height: 220px;
 }

  .footer__copyright {
    font-size: 22px;
  }
}

@media (max-width: 1180px) {

  .modal-form {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card-back__text {
    font-size: 15px;
  }

  .btn__price {
    font-size: 10px;
    }

  .price {
    height: 300px;
  }

  .form_free {
    width: 50%;
  }

  .form_contacts {
    width: 75%;
  }

  .contacts-links__txt {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {

  .modal-form {
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.btn {
    font-size: 12px;
  }

  .btn__price {
    font-size: 10px;
    width: 50%;
  }

  .btn_answers {
    margin-bottom: 10px;
  }

  .title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .person__text {
    font-size: 18px;
  }

  .person__img {
  width: 200px;
}

  .card, .card-back, .flip-container {
    width: 550px;
    height: 270px;
  }

  .card__title {
    font-size: 25px;
  }

  .card__text {
    font-size: 14px;
  }

  .card__img {
    width: 260px;
  }

  .result__txt {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .price {
    height: 290px;
    padding-right: 25px;
    padding-left: 25px;

    &-slider {
      width: 32%;
    }

    &__title {
      font-size: 17px;
    }

    &__info {
      font-size: 17px;
    }

    &__price {
      font-size: 18px;
      margin-top: 40px;
    }

    &__bonus {
      font-size: 13px;
    }
  }

  .promo-info__txt {
    font-size: 17px;
  }

  .promo-info__img {
    width: 300px;
  }

  .promo-condition__txt {
    font-size: 18px;
  }

  .txt-wrap {
    width: 48%;
  }

  .promo-condition__img {
    width: 310px;
    height: 310px;
  }

  .promo-condition__wrap {
    align-items: center;
  }

  .form {
    padding-bottom: 20px;
  }

  .form_free {
    width: 50%;
  }

  .form-info {
    padding-left: 50px;
    padding-right: 50px;

    &__txt {
      font-size: 18px;
    }

    &__data {
      font-size: 18px;
    }

    &__message {
      width: 85%;
      font-size: 18px;
    }

    &__input {
      width: 85%;
      font-size: 18px;
    }

  }

  .title_form {
    font-size: 25px;
  }

  .btn_form {
    width: 30%;
  }

  .review {
    font-size: 17px;
    margin-top: 20px;

    &__name {
      font-size: 23px;
    }

    &__photo {
      width: 230px;
    }
  }

  .question {

    padding-right: 40px;
    padding-left: 40px;

    &__txt {
      font-size: 21px;
    }

    &__plus {
      width: 30px;
    }

    &__answer {
      font-size: 18px;
    }
  }

  .title_form {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .contacts {
   display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .contacts-data {
    width: 100%;
    order: 1;
    margin-top: 50px;
  }

  .contacts-data__img {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  .form_contacts {
    width: 90%;
  }

  .contacts-links {
    width: 30%;

    &__txt {
      font-size: 18px;
    }

    &__img {
      width: 40px;

      &_phone {
        width: 32px;
      }
    }
  }

  .contacts-links-networsk {
    justify-content: flex-start;
  }

  .menu_footer {
    height: 180px;
  }

  .menu__link {
    font-size: 16px;
  }

  .footer__copyright {
    font-size: 20px;
  }
}

@media (max-width: 932px) {

  .modal-form {
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-info_modal {
    padding-right: 15px;
    padding-left: 15px;
  }

  .cross_modal {
    width: 15px;
    width: 15px;
  }

  .form-info__data_modal {
    font-size: 11px;
  }

  .form-info__txt_modal {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .form-info__message_modal {
    font-size: 11px;
    width: 80%;
    height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;

  }

  .form-info__input_modal {
    font-size: 11px;
    width: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .btn_modal {
    font-size: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 15%;
  }

  .card, .card-back, .flip-container {
    width: 480px;
    height: 270px;
  }

  .card__img {
    width: 230px;
  }

  .card__text {
    font-size: 13px;
  }

  .result__txt {
    font-size: 15px;
  }

  .btn_result {
    width: 17%;
  }

  .price-slider {
    width: 35%;
  }

  .promo-info__txt {
  font-size: 16px;
}

  .promo-condition__txt {
    font-size: 16px;
  }

  .form_free {
    width: 55%;
    }

  .title {
    &_form {
      font-size: 21px;
  }

    &_modal {
      font-size: 14px;
      margin-bottom: 2px;
    }
  }

  .form_contacts {
  margin-top: 15px;
    width: 95%;
  }

  .btn_form {
    width: 31%;
  }

  .contacts-data__img {
    width: 60%;
  }

  .phone_footer {
    font-size: 15px;
  }

  .menu__link_footer {
    font-size: 15px;
  }
}

@media (max-width: 916px) {

  .form-info__txt_modal {
    font-size: 9px;
  }

  .form-info__data_modal {
    font-size: 10px;
    margin-top: 5px;
  }

  .form-info__input_modal {
    font-size: 10px;
  }

  .form-group_modal {
    width: 90%;
  }

  .form-info_modal {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .btn_modal {
    margin-bottom: 5px;
  }

  .card, .card-back, .flip-container {
    width: 450px;
    height: 250px;
  }

  .card__img {
    width: 220px;
  }

  .card__text {
    font-size: 12px;
  }

  .card__title {
    font-size: 23px;
  }

  .card-back__text {
    font-size: 12px;
  }

  .result__txt {
    font-size: 15px;
  }

  .result-info-wrap {
    width: 41%;
  }

  .btn_result {
    width: 17%;
  }

  .price-slider {
    width: 36%;
  }

  .price-info {
    padding-top: 30px;
  }

  .promo-condition__txt {
    font-size: 15px;
  }

  .promo-info__txt {
    font-size: 15px;
  }

  .form_free {
    width: 55%;
  }

  .review__photo {
    width: 190px;
  }

  .title  {

    &_form {
      font-size: 21px;
    }

    &_modal {
      font-size: 15px;
    }
  }

  .contacts-form__tg {
    font-size: 18px;
  }

  .form_contacts {
    margin-top: 10px;
  }

  .btn_form {
    width: 35%;
    }

  .phone_footer {
    font-size: 14px;
  }

  .menu__link_footer {
    font-size: 14px;
  }

}

@media (max-width: 912px) {

  .modal-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cross_modal {
    width: 40px;
    height: 40px;
  }

  .title_modal {
    font-size: 22px;
  }

  .form-info__txt_modal {
    font-size: 15px;
  }

  .form-info__data_modal {
    font-size: 17px;
  }

  .form-info__input_modal {
    font-size: 17px;
  }

  .form-info__message_modal {
    font-size: 17px;
    height: 80px;
  }

  .btn_modal {
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .btn__price {
    width: 51%;
  }

}

@media (max-width: 896px) {

  .modal-form {
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cross_modal {
    width: 25px;
    height: 25px;
  }

  .form-info__txt_modal {
    font-size: 9px;
  }

  .form-info__data_modal {
    font-size: 10px;
    margin-top: 5px;
  }

  .form-info__input_modal {
    font-size: 10px;
  }

  .form-info__message_modal {
    font-size: 10px;
    height: 55px;
  }

  .form-group_modal {
    width: 90%;
  }

  .form-info_modal {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .btn_modal {
    margin-bottom: 5px;
    font-size: 9px;
    padding-top: 10px;
    padding: 10px;
    width: 40%;
  }

  h1 {
    font-size: 44px;
  }

  .result-info-wrap {
    width: 42%;
  }

  .btn__price {
    width: 52%;
  }

  .title {

    &_form {
      font-size: 20px;
    }

    &_modal {
      font-size: 15px;
    }


  }


  .contacts-links {
    width: 32%;
  }

}

@media (max-width: 882px) {

  .modal-form {
    width: 30%;
    padding-top: 7px;
    padding-right: 3%;
    padding-left: 3%;
  }

  .form-info_modal {
    padding-bottom: 5px;
  }

  .form-group_modal {
    width: 75%;
  }

  .form-info__message_modal {
    height: 40px;
  }

  .form-info__txt_modal {
    font-size: 8px;
  }

  .cross_modal {
    width: 20px;
    height: 20px;
  }

  .title_modal {
    font-size: 12px;
  }

  .form-info__data_modal {
    margin-top: 2px;
    font-size: 8px;
  }

  .form-info__message_modal {
    font-size: 8px;
  }


  .form-info__input_modal {
    font-size: 8px;
  }

  .btn_modal {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 7px;
  }

  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 29px;
  }

  .person__img {
    width: 180px;
  }

  .result-info-wrap {
    width: 43%;
  }

  .btn__price {
    width: 53%;
    }

  .price-slider {
    width: 38%;
    }

  .menu__link_footer {
    font-size: 13px;
    }

  .phone_footer {
    font-size: 13px;
  }

  .contacts-form__tg {
   margin-bottom: 10px;
    font-size: 20px;
  }

  .form_contacts {
    width: 102%;
    }

}

@media (max-width: 854px) {

  .modal-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cross_modal {
    width: 40px;
    height: 40px;
  }

  .title_modal {
    font-size: 22px;
  }

  .form-info__txt_modal {
    font-size: 15px;
  }

  .form-info__data_modal {
    font-size: 17px;
  }

  .form-info__input_modal {
    font-size: 17px;
  }

  .form-info__message_modal {
    font-size: 17px;
    height: 80px;
  }

  .btn_modal {
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

@media (max-width: 844px) {

  .modal-form {
    width: 30%;
    padding-top: 7px;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-info_modal {
    padding-bottom: 5px;
  }

  .form-group_modal {
    width: 75%;
  }

  .form-info__message_modal {
    height: 40px;
  }

  .form-info__txt_modal {
    font-size: 8px;
  }

  .cross_modal {
    width: 20px;
    height: 20px;
  }

  .form-info__data_modal {
    margin-top: 2px;
    font-size: 8px;
  }

  .form-info__message_modal {
    font-size: 8px;
  }


  .form-info__input_modal {
    font-size: 8px;
  }

  .btn_modal {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 7px;
  }

  .menu__link {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  .card, .card-back, .flip-container {
    width: 390px;
    height: 220px;
  }

  .card__img {
    width: 180px;
  }

  .card__text {
    font-size: 11px;
  }

  .card__title {
    font-size: 22px;
  }

  .result-info-wrap {
    width: 46%;
  }

  .btn_result {
    width: 18%;
  }

  .price-slider {
    width: 41%;
  }

  .title {

    &_form {
      font-size: 19px;
    }

    &_modal {
      font-size: 15px;
    }

    &_free {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
  .promo-condition__img {
    width: 280px;
    height: 280px;
  }

  .review__name {
    font-size: 20px;
  }

  .review {
    font-size: 13px;
  }

  .question__txt {
    font-size: 18px;
  }

  .question__plus {
    width: 25px;
  }

  .question__answer {
    font-size: 16px;
  }
  .form_contacts {
    width: 96%;
    }

  .contacts-links__txt {
    font-size: 16px;
  }

  .logo__main {
  font-size: 40px; }

  .logo__little {
    font-size: 23px;
    margin-top: -22px;
    }

  .menu_footer {
    height: 160px;
  }

  .menu__link {
    font-size: 12px;
    }

  .phone_footer {
    font-size: 12px;
  }

  .contact, .phone {
    font-size: 18px;
  }

  .contact__img {
    width: 28px;
  }

}

@media (max-width: 820px) {

  .modal-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cross_modal {
    width: 40px;
    height: 40px;
  }

  .title_modal {
    font-size: 22px;
  }

  .form-info__txt_modal {
    font-size: 15px;
  }

  .form-info__data_modal {
    font-size: 17px;
  }

  .form-info__input_modal {
    font-size: 17px;
  }

  .form-info__message_modal {
    font-size: 17px;
    height: 80px;
  }

  .btn_modal {
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .phone {
    font-size: 18px;
  }

  .contact__txt {
    font-size: 18px;
  }

  .contact__img {
    width: 28px;
  }

  .logo__main {
    font-size: 40px;
  }

  .logo__little {
    font-size: 22px;
  }

  .menu__link {
    font-size: 14px;
  }

  .main__img {
    width: 110px;
  }

  .main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 33px;

  }

  h2 {
    font-size: 26px;
  }

  .line {
    width: 600px;
  }

  .title {
    font-size: 23px;
  }

  .person__text {
    font-size: 16px;
  }

  .person__img {
    width: 180px;
  }

  .card, .card-back, .flip-container {
    width: 380px;
    height: 200px;
  }


  .card__title {
    font-size: 20px;
  }

  .card__text {
    font-size: 10px;
  }

  .card__img {
    width: 180px;
  }

  .card-back__text {
    font-size: 10px;
  }

  .result__txt {
    font-size: 13px;
  }

  .result-info-wrap {
    width: 41%;
  }

  .btn_result {
    width: 20%;
  }

  h4 {
    font-size: 13px;
    margin-top: 5px;
  }

  .title_yellow {
    margin-bottom: 10px;
  }

  .price-slider {
    width: 40%;
  }

  .price {
    height: 270px;

    &__title {
      margin-top: 12px;
    }

    &__price {
      margin-top: 30px;
    }
  }

  .btn__price {
    width: 53%;
  }

  .promo-info__txt {
    font-size: 14px;
  }

  .promo-info__img {
    width: 250px;
  }

  .promo-condition__txt {
    font-size: 14px;
  }

  .promo-condition__img {
    width: 250px;
    height: 250px;
  }

  .txt-wrap {
    width: 50%;
  }

  .form_free {
    width: 65%;
  }

  .form-container {
    background-size: contain;
  }

  .title_form {
    margin-bottom: 1px;
  }

  .form-info__txt {
    font-size: 17px;
  }

  .form-info__data {
    font-size: 19px;
    }

  .review__photo {
    width: 180px;
  }

  .review {
    font-size: 16px;
  padding-right: 20px;
  padding-left: 20px;
  }

    .review-person {
      text-align: center;
    }

    .review-wrap {
      width: 55%;
      margin-top: 0;
    }

    .review__name {
      font-size: 20px;
      display: none;

      &_mobile {
        display: block;
      }
    }

    .review__city {
      display: none;

      &_mobile {
        display: block;
      }
    }

  .question__txt {
    font-size: 18px;
  }

  .question__plus {
    width: 25px;
  }

  .question__answer {
    font-size: 15px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title_form {
    text-align: center;
  }

  .form_contacts {
    width: 100%;
    margin-top: 10px;
    }

  .form-info__txt {
    font-size: 15px;
  }

  .form-info__data {
    font-size: 17px;
    margin-top: 5px;
  }

  .form-info__input {
   padding-top: 8px;
    padding-bottom: 8px;
  }

  .btn_form {
    width: 35%;
  }

  .contacts-links__txt {
    font-size: 15px;
  }

  .contacts-links__img {
    width: 35px;

    &__phone {
      width: 28px;
    }
  }

  .menu_footer {
    height: 150px;
    font-size: 12px;
    gap: 20px;

  }

  .menu__link_footer {
    font-size: 12px;
  }

  .phone_footer {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 17px;
  }


}

@media (max-width: 768px) {

  .modal {
    margin-left: -100px;
    margin-right: -100px;
  }

  body {
    padding-left: 100px;
    padding-right: 100px;
  }

  .grey-back {
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo__main {
    font-size: 35px;
  }

  .logo__little {
    font-size: 20px;
    margin-top: -20px;
  }

  .menu__link {
    font-size: 13px;
  }

  .phone {
    font-size: 16px;
  }

  .contact__txt {
    font-size: 16px;
  }

  .contact__img {
    width: 25px;
  }

  .person__img {
    width: 160px;
  }

  .btn {
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .card, .card-back, .flip-container {
    width: 200px;
    height: 340px;
    display: block;
    margin: 0 auto;
  }

 .card-info {
   margin-top: 30px;
 }

  .card__title {
    font-size: 20px;
  }

  .card__text {
    font-size: 11px;
  }

  .card-back-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
  }

  .card__img {
    padding: 0;
  }

  .result-info-wrap {
    width: 42%;
  }

  .result-info {
    margin-bottom: 20px;
  }

  .btn__price_pink {
    display: none;
  }

  .price {
    display: flex;
    justify-content: center;
    height: 330px;

    &-slider {
      width: 51%;
    }

    &-info {
      padding-right: 10px;
    }

    &__title {
      margin-top: 20px;
      font-size: 19px;
    }

    &__info {
      font-size: 18px;
    }

    &__price {
      margin-top: 45px;
      font-size: 20px;
    }

    &__bonus {
      font-size: 14px;
      margin-top: 60px;
    }
  }

  .btn__price {
    width: 46%;
  }

  .price-slider_black {
    display: none;
  }

  .title_free {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .promo-condition__txt, .promo-info__txt {
    font-size: 13px;
  }

  .contacts-form__tg {
    font-size: 18px;
  }

  .form_contacts {
    width: 102%;
  }

  .contacts-data {
    margin-top: 20px;

    &__img {
      width: 55%;
    }
  }

  .menu__link_footer {
    font-size: 11px;
  }

  .phone_footer {
    font-size: 11px;
  }

  .menu_footer {
    height: 130px;
  }

  .footer__copyright {
    margin-top: 30px;
    font-size: 15px;
  }

}

@media (max-width: 740px) {

  .title_modal {
    font-size: 12px;
  }

  .modal-form {
    width: 30%;
    padding-top: 7px;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .form-info_modal {
    padding-bottom: 5px;
  }

  .form-group_modal {
    width: 90%;
  }

  .form-info__message_modal {
    height: 38px;
  }

  .form-info__txt_modal {
    font-size: 8px;
  }

  .cross_modal {
    width: 20px;
    height: 20px;
  }

  .form-info__data_modal {
    margin-top: 2px;
    font-size: 8px;
  }

  .form-info__message_modal {
    font-size: 8px;
    width: 75%;
  }


  .form-info__input_modal {
    font-size: 8px;
    width: 75%;
  }

  .btn_modal {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 7px;
  }


  .btn__price {
    width: 50%;
  }

  .form-info__txt {
    font-size: 14px;

    &_modal {
      font-size: 10px;
    }
  }

  .contacts-links {
    width: 35%;
  }
}

@media (max-width: 720px) {

  .modal-form {
    width: 45%;
  }

  .menu__link {
    font-size: 12px;
  }

  .logo__main {
    font-size: 30px;
  }

  .logo__little {
    font-size: 17px;
    margin-top: -16px;
  }

  .menu {
    margin-top: 5px;
  }

  .main__img {
    width: 100px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .line {
    width: 500px;
    display: block;
    margin: 0 auto;
  }

  .person__img {
    width: 150px;
  }

  .person__text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .flip-container {
    margin-top: 15px;
  }

  .result__txt {
    font-size: 12px;
  }

  .result-info-wrap {
    width: 42%;
  }

  .price-slider {
    width: 55%;
  }

  .contacts-form {
    display: flex;
    justify-content: center;
  }

  .form_contacts {
    margin-top: 0px;
  }

  .form-info__input{
    width: 80%;
  }

  .form-info__message {
    width: 80%;
  }

  .form-info__txt {
    font-size: 17px;

    &_modal {
      font-size: 15px;
    }
  }

  .title {

    &_form {
      font-size: 24px;
    }

    &_modal {
      font-size: 18px;
    }

  }

  .form-info__data {
    font-size: 19px;

    &_modal {
      font-size: 15px;
    }
  }

  .form-info__input {
    font-size: 19px;

    &_modal {
      font-size: 15px;
    }
  }

  .form-info__message_modal {
      font-size: 15px;
    height: 70px;
  }

  .btn_modal {
    font-size: 10px;
  }

  .menu__link_footer {
    font-size: 11px;
  }

  .phone_footer {
    font-size: 11px;
  }

  .footer__copyright {
    margin-top: 25px;
    font-size: 13px;
  }

}

@media (max-width: 668px) {

  .modal-form {
    padding-bottom: 7px;
  }

  .title_modal {
    font-size: 12px;
  }

  .form-info__txt_modal {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .form-info__data_modal {
    font-size: 10px;
    }

  .form-info__input_modal {
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .form-info__message_modal {
    font-size: 10px;
    height: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .form-group_modal {
    width: 80%;
  }

  .btn_modal {
    font-size: 8px;
    width: 28%;
  }

  .logo__main {
    font-size: 28px;
  }

  .contact__txt {
    font-size: 14px;
  }

  .phone {
    font-size: 14px;
  }

  .contact__img {
    width: 20px;
  }

  .menu__link {
  font-size: 10px;
}

  .main__img {
  width: 90px;
}

  h1 {
    font-size: 28px;
  }

  .line {
    width: 450px;
  }

  h2 {
    font-size: 22px;
  }

  .result__txt {
    font-size: 11px;
  }

  .result-info-wrap {
    width: 43%;
  }

  .btn_result {
    width: 22%;
  }

  .price-slider {
    width: 61%;
  }

  .promo-condition__txt {
    font-size: 11px;
  }

  .promo-info__txt {
    font-size: 11px;
  }

  .title_free {
    font-size: 19px;
  }

  .promo-condition__img {
    width: 220px;
    height: 220px;
  }

  .form_free {
    width: 80%;
  }

  .contacts-form {
    width: 100%;
  }

  .form_contacts {
    width: 85%;
  }

  .contacts-data__img {
    width: 60%;
  }

  .contacts-links {
    width: 38%;
  }

  .contacts-links__img_phone {
    width: 28px;
  }

  .phone_footer {
    font-size: 10px;
  }

  .menu__link_footer {
    font-size: 9px;
  }

}

@media (max-width: 540px) {

  .modal {
    margin-left: -50px;
    margin-right: -50px;
  }

  .modal-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cross_modal {
    width: 35px;
    height: 35px;
  }

  .form-info__message_modal {
    height: 80px;
  }

  .btn_modal {
    font-size: 13px;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-mobile {
    display: block;
    display: none;
  }

  .phone_header {
    display: none;
  }

  .contact {
    display: none;
  }

  .menu_header {
    display: none;
  }

  .bar {
    display: block;
  }

  .header-top {
    width: 100%;
    align-items: center;
  }

  body {
    padding-right: 50px;
    padding-left: 50px;
  }

  .main {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .grey-back {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  h2 {
    font-size: 20px;
  }


  .person__text {
    font-size: 17px;
    margin-bottom: 10px;

  }

  .btn {
    font-size: 10px;
  }

  .person__img {
    width: 180px;
  }

  .person__img_main {
    display: none;
  }

  .person__img_mobile {
    display: block;
    margin-right: 20px;
  }

  .person-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.person__img_magic {
width: 160px;
  position: relative;
  top: 20px;
}

  .person__img_lady {
    position: relative;
overflow: hidden;
    left: -20px;
  }

  .photos {
    margin-bottom: 20px;
  }

  .card__title {
    font-size: 22px;
  }

  .result {
    background-size: contain;
  }

  .result-info {
    display: flex;
    flex-direction: column;
  }

  .result-info-wrap {
    width: 70%;
    margin-bottom: 20px;
  }

  .result-info-wrap_right {
   margin-left: auto;
  }

  .result__txt {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  .price-slider {
    width: 65%;
  }

  .btn__price {
    width: 43%;
  }

 .promo-condition__txt {
   font-size: 13px;
 }

 .promo-info__txt {
   font-size: 13px;
 }

  .promo-info__img {
    width: 220px;
  }

  .form-container {
    background-image: none;
  }

  .form_free {
    background-image: url("/img/taro-momile.png");
    background-size: cover;
  }

  .promo-condition__wrap {
    flex-direction: column;
  }

  .txt-wrap {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .review {
    flex-direction: column;
    font-size: 17px;
  }

  .review-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .review__photo {
    width: 200px;
  }

  .review__name {
    font-size: 23px;
  }

  .review-wrap {
    width: 100%;
  }

  .question {
    padding-right: 15px;
    padding-left: 15px;

    &__txt {
      font-size: 16px;
    }

    &__plus {
      width: 20px;
    }

    &__answer {
      font-size: 13px;
    }
  }

  .title_form {
    font-size: 22px;
  }

  .form-info__data {
    font-size: 17px;
  }

  .form-info__input {
    font-size: 17px;
  }

  .form-info__message {
    font-size: 17px;
  }

  .form-info__txt {
    font-size: 16px;
  }

  .contacts-links__txt {
    font-size: 14px;
  }

  .menu_footer {
    background-image: none;
    flex-direction: column;
    width: 70%;
  }

  .menu__link_footer {
    font-size: 18px;
  }

  .phone_footer {
    font-size: 18px;
  }

  .footer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer-mobile__img {
    display: block;
    width: 190px;
  }

  .footer__copyright {
    margin-bottom: 15px;
    font-size: 20px;
  }









}

@media (max-width: 430px) {

  .btn_modal {
    margin-top: 10px;
    width: 42%;
  }

  .mobile-links__link {
    font-size: 17px;
  }

  .mobile-tg__txt {
    font-size: 17px;
  }

  .card-back__text {
    font-size: 7px;
  }



  .card-back-wrap {
    margin-top: 30px;

  }

  .header-top {
    width: 108%;
  }

  .logo__main {
    font-size: 23px;
  }

  .logo__little {
    font-size: 15px;
    margin-top: -14px;
  }

  .burger-line {
    width: 38px;
  }

  .main__img {
    width: 65px;
  }

  h1 {
    font-size: 22px;
  }

  .line {
    width: 370px;
  }

  h2 {
    font-size: 16px;
  }

  .title {
    font-size: 21px;
  }

  .person__img {
  width: 160px;
}

  .person__img_magic {
    width: 140px;
  }

  .person__img_lady {

    top: 10px
  }

  .person__text {
    font-size: 15px;
  }

  .card, .card-back, .flip-container {
    width: 115px;
    height: 280px;
  }



  .flip-container {
    margin-left: 40px;
    margin-right: 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-info {
    width: 160%;
  }

  .card__title {
    font-size: 18px;
  }

  .card__text {
    width: 100%;
    font-size: 10px;
  }

  .card__img {
    width: 150px;
  }

  .result-info {
    margin-bottom: 10px;
  }

  .result-info-wrap {
    margin-bottom: 10px;
  }

  .result__txt {
    font-size: 12px;
  }

  .btn_result {
    width: 27%;
  }

  h4 {
    text-align: center;
  }

  .price-slider {
    width: 82%;
    height: 390px;
  }

  .btn__price {
    width: 45%;
  }

  .price-info {
    margin-right: 6px;
  }

  .form_free {
  width: 100%;
}

  .form-container {
    margin-top: 35px;
  }

  .btn_form {
    font-weight: bold;
    background-color: rgba(251, 204, 254, 0.7);
    color: #3f3e5a;

  }

  .review__photo {
  width: 180px;
}

  .review-person {
    width: 100%;
  }

  .review-wrap {
  width: 105%;
}

  .review {
    font-size: 15px;
  }

  .review__name {
  font-size: 20px;
}

  .title_form {
    font-size: 18px;
  }

  .contacts-form__tg {
    font-size: 16px;
  }

  .form_contacts {
    width: 100%;
  }

  .form-info__txt {
    font-size: 14px;
  }

  .form-info__data {
    font-size: 16px;
  }

.form-info__input {
    font-size: 16px;
  }

  .form-info__message {
    font-size: 16px;
  }

  .contacts-links-networsk {
    flex-direction: column;
  }

  .contacts-links {
    width: 55%;
  }

  .contacts-links_tg {
width: 40%;
  }

  .menu__link_footer {
  font-size: 14px;
}

  .phone_footer {
    font-size: 14px;
  }
}

@media (max-width: 414px) {

  .mobile-links__link {
    font-size: 15px;
  }

  .mobile-tg__txt {
    font-size: 15px;
  }

  .menu-mobile__header {
    width: 105%;
  }

  .header-top {
    width: 105%;
  }

  .burger-line {
  width: 35px;
}

  h1 {
  font-size: 21px;
}

  .line {
    width: 340px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .person__img {
    width: 150px;
  }

  .person__img_magic {
    width: 130px;
  }

  .btn_result {
  width: 30%;
}

  .price-info {
    margin-right: -6px;
  }

  .price__bonus {
    font-size: 13px;
    margin-top: 50px;
  }

  .price {
    height: 310px;
  }

  .btn__price {
    width: 47%;
  }

  .promo-condition__txt {
    font-size: 12px;
  }

  .promo-info__txt {
    font-size: 12px;
  }

  .promo-condition__img {
    width: 200px;
    height: 200px;
  }

  .review__photo {
    width: 170px;
  }

  .review__name {
    font-size: 18px;
  }

  .question__txt {
    font-size: 14px;
  }

  .contacts-form__tg {
    font-size: 15px;
  }

  .form-info__txt {

    &_contacts {
      width: 60%;
    }

    &_modal {
      width: 88%;
    }
  }

  .form-group_modal {
    margin-top: 5px;
  }


  .contacts-data__img {
    width: 65%;
  }

  .contacts-links {
    padding-top: 10px;
    padding-bottom: 10px;
  }



}

@media (max-width: 412px) {

  .btn__price {
    width: 48%;
  }

  .contacts-data__img {
    width: 70%;
  }

  .footer__copyright {
    font-size: 18px;
  }




}

@media (max-width: 390px) {

  .mobile-links__link {
    font-size: 12px;
  }

  .mobile-tg__txt {
    font-size: 12px;
  }

  .menu-mobile__img {
    width: 100px;
  }

  .menu-mobile__header {
    width: 103%;
  }

  .cross {
    width: 35px;
    height: 35px;
  }

  .header-top {
    width: 103%;
  }

  .card-back__text {
  font-size: 6px;
}

  .person__text {
    font-size: 13px;
  }

  .btn {
    font-size: 9px;
  }

  .card, .card-back, .flip-container {
    width: 90px;
  }

  .card__text {
    font-size: 9px;
  }

  .card__img {
    width: 140px;
  }

  .card-info {
    width: 176%;
  }

  .price-slider {
    width: 80%;
    height: 335px;
  }

  .price__title {
    margin-top: 15px;
    font-size: 17px;
  }

  .price__info {
    font-size: 17px;
  }

  .price__price {
    margin-top: 38px;
    font-size: 18px;
  }

  .form-info__txt {
    font-size: 13px;
  }

  .form-info__data {
    font-size: 15px;
  }

  .form-info__input {
    font-size: 15px;
  }

  .form-info__message {
    font-size: 15px;
  }

  .review__photo {
    width: 155px;
  }

  .review {
    margin-top: 10px;
  }

  .title_form {
    font-size: 17px;
  }

  .contacts-data__img {
    width: 75%;
  }

  .contacts-links__txt {
  font-size: 13px;
}

  .btn_modal {
    font-size: 10px;
    width: 38%;
  }



}

@media (max-width: 376px) {

  .btn_modal {
    font-size: 9px;
  }

  .modal-form {
    width: 75%;
  }

  .cross_modal {
    width: 30px;
    height: 30px;
  }

  .mobile-tg__img {
    width: 20px;
    margin-right: 8px;
  }

  .burger-line {
    width: 32px;
    height: 2px;
  }

  h1 {
    font-size: 19px;
  }

  .line {
    width: 305px;
  }

  h2 {
    font-size: 13px;
  }

  .title {
  font-size: 20px;
}

  .person__img {
    width: 135px;
  }

  .person__img_magic {
    width: 115px;
  }

  .person__text {
    font-size: 12px;
  }

  .card, .card-back, .flip-container {
    width: 80px;
  }

  .card-info {
    width: 205%;
  }

  .result__txt {
    font-size: 10px;
  }

  .price-slider {
    width: 83%;
    height: 325px;
  }

  .promo-info__img {
    width: 200px;
  }

  .promo-condition__img {
    width: 180px;
    height: 180px;
  }

  .title_form {
    font-size: 18px;
  }

  .form-info__data {
    font-size: 14px;
  }

  .form-info__input{
    font-size: 14px;
  }

  .form-info__message {
    font-size: 14px;
  }

  .form-info__txt {
   text-align: center;
  }

  .review__photo {
    width: 145px;
  }

  .review__name {
    font-size: 17px;
  }

  .review {
    font-size: 14px;
  }

  .contacts-links__img {
    width: 30px;
  }

  .contacts-links__img_phone {
    width: 24px;
  }

  .contacts-links__txt {
    margin-left: 10px;
  }




}

@media (max-width: 360px) {


  .logo__main {
    font-size: 22px;
  }

  .logo__little {
    font-size: 14px;
  }

  .main__img {
    width: 60px;
  }

  h1 {
    font-size: 18px;
  }

  .line {
    width: 290px;
    height: 2px;
  }

  h2 {
    font-size: 12px;
  }

  .person__text {
    font-size: 11px;
  }

  .person__img {
    width: 120px;
  }

  .person__img_magic {
    width: 100px;
  }

  .btn {
    font-size: 8px;
  }

  .card, .card-back, .flip-container {
    width: 45px;
  }

  .card__title {
    font-size: 14px;
  }

  .card__img {
    width: 90px;
  }

  .card-info {
    width: 270%;
  }


  .card-back__text {
    font-size: 4px;
    margin-top: 2px;
    margin-left: 2px;
  }

  .card-back-wrap {
    margin-top: 50px;
  }

  .result__txt {
    font-size: 9px;
  }

  .result-info-wrap {
    margin-bottom: 8px;
  }

  h4 {
    font-size: 11px;
  }

  .price__title {
    font-size: 15px;
    margin-top: 10px;
  }

  .price__info {
    font-size: 15px;
  }

  .price__bonus {
    font-size: 12px;
    margin-top: 45px;
  }

  .price-slider {
    height: 310px;
  }


  .title_free {
    font-size: 17px;
  }

  .promo-condition__txt{
    font-size: 11px;
  }

  .promo-info__txt {
    font-size: 11px;
  }

  .promo-info__img {
    width: 180px;
  }

  .promo-condition__img {
    width: 160px;
    height: 160px;
  }

  .form_free {
    width: 102%;
  }

  .form-info__input {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .form-info__message {
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;
  }

  .review__photo {
    width: 130px;
  }

  .review {
    font-size: 12px;
  }

  .review__name {
    font-size: 14px;
  }

  .form-info__txt_contacts {
    width: 90%;
  }

  .title_form {
    font-size: 17px;
  }

  .contacts-links__txt {
    font-size: 12px;
  }

  .menu__link_footer {
    font-size: 11px;
  }

  .phone_footer {
    font-size: 11px;
  }

  .footer-mobile__img {
    width: 140px;
  }

  .footer__copyright {
    font-size: 16px;
  }

}

@media (max-width: 344px) {

  .price-slider {
    width: 83%;
    height: 290px;
  }

  .price__title {
    margin-top: 3px;
    font-size: 13px;
  }

  .price__info {
    font-size: 13px;
  }

  .price__price {
    font-size: 15px;
  }

}






