
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');


body {
  background-color: #3f3e5a;
  font-family: 'Cormorant';
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0;
};


h1 {
  font-size: 70px;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  font-size: 45px;
  margin-top: 20px;
  text-align: center;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 25px;
}

.title {
  font-family: 'Alegreya SC';
  color: #ED94E3;
  font-weight: 400;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 15px;

  &_form {
    font-size: 23px;
    margin: 0;
    color: white;
  }

  &_yellow {
    color: #D6D4B4;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &_reviews {
    justify-content: center;
    margin: 0;
  }

  &_form {
   justify-content: center;
    font-size: 40px;
  }
}



.btn {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 27px;
  padding-right: 27px;
  background-color: rgba(206, 204, 254, 0.2);
  color: #F6EE5F;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color: #fc96ff;
  font-family: 'Alegreya SC';
  font-size: 20px;
  cursor: pointer;
  transition: 0.7s;
  margin-bottom: 20px;

  &:hover {
    color: #8FE67B;
    border-color: #f89d00;
    background-color: rgba(255, 222, 204, 0.45);
  }

  &_result {
    display: block;
    margin: 0 auto;
    width: 15%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__price {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;

    &_pink {
      color: #FC96FF;
      border-color: #F6EE5F;
    }
  }

  &_form {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    width: 40%;
    color: #fc96ff;
    border-color: #F6EE5F;
  }

  &_answers {
    color: #ed94e3;
    border-color: #F6EE5F;
    margin-top: 10px;
  }

}

.nav {
  width: 23px;

}

.grey-back {
  margin-left: -150px;
  margin-right: -150px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}